<!DOCTYPE html>
<html lang="en" >
    <meta charset="UTF-8"  content="text/html; charset=UTF-8">
    <title>宁波酷乐潮玩文化创意有限公司</title>
</head>
<body>
<!-- login页的背景 -->
<div class="warp">
    <div class="logo"></div>
    <div class="loginbox">
        <div class="cd-user-modal-container">
            <h1>账户登录</h1>
            <!-- 账户登录页 -->
            <div id="cd-login">
                <div class="list">
                    <input type="text" id="txtUser_ID" name="login" class="listinp" placeholder="用户名 / 绑定的手机号或邮箱"/>
                </div>
                <div class="list">
                    <input type="password" name="password" id="txtPassword" class="listinp"  placeholder="密码"/>
                </div>
                <div class="listbox ">
                    <div style=" margin-right:10px; float:right; font-size: 12px; line-height: 55px; text-align: center; color: red;" id="showMsg"></div>
                    <a class="remember"><input type="checkbox" id="cookie"   class="rememberbox" style="vertical-align:-2px;">记住用户名</a>
                    <div style="clear:both"></div>
                </div>
                <div class="login">
                    <input type="submit" class="btn" value="登&nbsp;&nbsp;&nbsp;&nbsp;录" id="btnLogin" onclick="login()" name="btnLogin"/>
                </div>
            </div>
            <div class="register" style="display:none">
                没有账号?&nbsp;&nbsp;<a href="" class="registerfree">免费注册</a>
            </div>
        </div>
    </div>
    <ul class="progresstext">
        <li class="li-first" style="font-weight:bold;font-size:14px; text-align:center">版权所有：宁波酷乐潮玩文化创意有限公司</li>
    </ul>
</div>
</body>
<link rel="stylesheet" type="text/css" href="/css/style1.css" />
<script src="./js/common/jquery.min.js" type="text/javascript"></script>
<script src="./js/login.js" type="text/javascript"></script>

</html>